<h1 class="text-2xl font-bold mb-4 text-center">Precios del producto</h1>
<div class="overflow-x-auto rounded-box border border-base-content/25 bg-base-300 du-table-lg">
  <table class="du-table w-full">
    <tbody>
      <tr class="hover:bg-base-100 cursor-pointer" (click)="addProductToBill('unitPrice')">
        <td class="font-bold">Precio Unitario</td>
        <td>{{ product().product.unitPrice| currency }}</td>
      </tr>
      <tr class="hover:bg-base-100 cursor-pointer" (click)="addProductToBill('wholesalePrice')">
        <td class="font-bold">Precio Mayorista</td>
        <td>{{ product().product.wholesalePrice | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
