/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
 @plugin "daisyui" {
  themes: dark, dracula, light;
  prefix: "du-";
}
.enter-animation-izquierdaDerecha {
  animation: slide-fade-izquierdaDerecha 2s;
}
.leaving-izquierdaDerecha {
  opacity: 0;
  transform: translateX(20px);
  transition:
    opacity 500ms ease-out,
    transform 500ms ease-out;
}
@keyframes slide-fade-izquierdaDerecha {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-fade-abajoArriba {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}